@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300&family=Lato:wght@300&family=Open+Sans:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    border: none;
}
body {
    font-family: Jost,sans-serif;
    font-weight: 400;
    color: #3a3a3a;
}
/* headings & logo */
h1,h2 {
    font-family: Oswald,sans-serif;
    text-transform: none;
    letter-spacing: 4px;
    color:rgb(128, 77, 0);
    text-align: center;
}
#menu {
    font-size: 110%;
    letter-spacing: 4px;
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;
}

#menu li {
    list-style-type: none;
    margin-right: 30px;
}
#menu a {
    text-decoration: none;
    color: inherit;
}
.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}